@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-family: "Knewave", cursive;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.question-wrapper {
  min-height: 7rem;
  display: flex;
  justify-content: center;
  margin: 1rem auto 2rem auto;
  align-items: center;
}

.countryname {
  font-weight: bold;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px auto 60px auto;
  padding: 20px 0px 20px 0px;
}

.answer-cover {
  display: flex;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(255, 255, 255);
  background-image: url(./img/cover.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all ease 0.2s;
  cursor: pointer;

  &:after {
    content: "Show Answer";
    color: white;
  }
}

.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  background-image: url(./img/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto 20px auto;

  &:hover {
    color: white;
    background-position-y: 49%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-settings {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &:hover {
    animation: spin 2s infinite;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 10;
}

.modal-content {
  width: 90%;
  max-width: 400px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
}

.btn-close {
  display: block;
  background-image: url(./img/close.svg);
  margin-left: auto;
  width: 35px;
  height: 35px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: border 0.5s;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    outline: 1px solid #000;
  }
}

.swal-title {
  font-family: "Knewave", cursive;
  color: black;
}

.swal-button {
  background-image: url(/img/ok.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto 20px auto;
  background-color: #fff;

  &:hover {
    color: white !important;
    background-color: #fff;
  }
}

.swal-button:not([disabled]):hover {
  background-color: #fff;
}

.swal-button:focus {
  box-shadow: none;
}

#modal {
  p {
    margin: 20px 0px;
  }

  div {
    margin-bottom: 10px;
  }
}

.credit {
  font-size: 0.8rem;
  margin: 0px;
  text-align: center;
  margin-top: 30px;

  a {
    text-decoration: none;
    color: gray;

    &:hover {
      color: #000;
      border-bottom: 1px dotted #000000;
    }
  }
}

input[type="checkbox"] {
  visibility: hidden;
}

.customlabel {
  display: flex;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  padding-left: 30px;
  margin: 0px 10px;
  background-image: url(./img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

input[type="checkbox"]:checked ~ .customlabel:after {
  display: flex;
  content: "";
  background-image: url("./img/tick.svg");
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 10;
}
