body {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

.country {
  padding: 20px;
}

.reveal {
  position: relative;
}

.reveal::after {
  content: "";
  display: block;
  width: 120%;
  height: 200%;
  background-color: #666666;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
  cursor: pointer;
  transform: translate(-5%, -25%);
}

.reveal:hover::after {
  opacity: 0;
}
